@font-face {
    font-family: moranga;
    src: url(moranga.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(Gilroy-Semibold.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(Gilroy-Bold.ttf);
}

/* variables */
:root {
    /* basic colors */
    --primaryColor: #ffff;
    --backgroundColor: #000000;
    --secBackgroundColor: #222222;
    --thirdBackgroundColor: #333333;
    --primaryButtonCOlor: #40D2EF;
    --secandaryButtonCOlor: #F65858;
    --lighOrangeColor: #F6BA53;

    /* basic fontfont family */
    --primaryFontFamily: moranga;
    --secondryFontFamily: Gilroy;
    --secondryFontFamilyBold: Gilroy-Bold;

    /* basic typography  */
    --extraLarge: 9vw;
    --h1: 6vw;
    --h2: 4vw;
    --h3: 2vw;
    --h4: 1.5vw;
    --h5: 1vw;

}

/* ganral styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a,
ul,
li {
    list-style: none;
    color: var(--primaryColor);
}

h1,
h2,
h3 {
    font-family: var(--primaryFontFamily);
}

section {
    padding: 2rem;
    height: 100%;
    width: 100%;
}

/* reusable classes */

.container {
    margin-inline: auto;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.normalButton {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 2vw;
    font-family: var(--secondryFontFamily);
    width: fit-content;
}

.highlight {
    color: var(--primaryButtonCOlor);
}

.highlight2 {
    color: var(--secandaryButtonCOlor);
}

.highlight3 {
    color: var(--lighOrangeColor);
}

::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar track */
}

::-webkit-scrollbar-track {
    background-color: transparent;
    /* Color of the scrollbar track */
}

/* Change the color of the scroll thumb */
::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the scrollbar thumb */
    border-radius: 5px;
    /* Rounded corners on the thumb */
}

/* Change the color of the scroll thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color of the scrollbar thumb on hover */
}

/* header styling */

#header {
    width: 100%;
    align-items: center;
}

.navbar {
    /* background-color: #333; */
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;

}

.navbar-logo {
    color: white;
    font-size: var(--h3);
    font-family: var(--primaryFontFamily);
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listitems {
    position: relative;
    padding: .2rem .5rem;
}

.listitems::before {
    content: "";
    height: 100%;
    width: 0%;
    left: 50%;
    display: block;
    position: absolute;
    border-bottom: 2px solid var(--primaryColor);
    transition: .3s;
    z-index: -1;
}

.listitems:hover::before {
    width: 100%;
    left: 0%;
    right: 100%;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: var(--h5);
    font-family: var(--primaryFontFamily);
}

.navbar-toggle {
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none;
}


.primaryButton {
    padding: 1rem 1.5rem;
    background-color: var(--primaryButtonCOlor);
    border-radius: 50px;
    box-shadow: 0px 0px 16px var(--primaryButtonCOlor);
    font-size: var(--h5);
}


.heroSection {
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    perspective-origin: top;
}

.heroSection h1 {
    font-size: var(--h2);
    letter-spacing: .3rem;
    width: 800;
    margin: 1rem 0;
    position: relative;
}

.heroImg {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.heroImg video {
    height: 60%;
    width: 60%;
    object-fit: cover;
}


.herotop {
    position: absolute;
    width: 100%;
    top: 2rem;
    justify-content: center;
    perspective: 800px;
    perspective-origin: top;
}

.topcontent {
    text-align: center;
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
    transform: rotateX('0deg');
    flex-direction: column;
}

.topcontent,
.bottomcontent h2 {
    font-size: var(--h2);
}

.topcontent h3 {
    font-size: var(--h3);
}

.herobottom {
    position: absolute;
    width: 100%;
    bottom: 4rem;
    justify-content: center;
    perspective: 800px;
    perspective-origin: bottom;
}

.bottomcontent {
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
    transform: rotateX('0deg');
    flex-direction: column;
}

.bottomcontent p {
    position: relative;
    font-size: var(--h3);
    text-align: center;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}



#slidingText {
    padding: 0;
}

.slidingText {
    justify-content: space-around;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;

}

.slidingText h1 {
    word-spacing: 2rem;
    font-size: var(--h1);
    margin: 0 1rem;
}

.slidingText::-webkit-scrollbar {
    display: none;
}

.about {
    flex-direction: column;
    width: 100%;
}

.about h1 {
    opacity: 1;
    flex-direction: column;
    word-spacing: 2rem;
    font-size: var(--h2);
    margin: 0 1rem;
    text-align: center;
    padding: 0 3rem;
}

#skillsection {
    background-color: var(--secBackgroundColor);
}

.skills {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.skills h1 {
    font-size: var(--h1);
    font-family: var(--secondryFontFamilyBold);
}

.skills h3 {
    font-size: var(--h3);
    font-family: var(--secondryFontFamilyBold);
}

.icone,
.icone2 {
    gap: 10px;
}

.iconeLogo img {
    height: 10vh;
    border-radius: 5px;
    width: 100%;
    background-color: var(--primaryColor);
    padding: .1rem;
}


#craftsection {
    position: relative;
    background-color: var(--thirdBackgroundColor);
    width: 100vw;
}

.craftdiv {
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.text {
    margin-bottom: 2rem;
}

.text h1 {
    font-size: var(--h2);
    font-family: var(--secondryFontFamilyBold);
}

.text h3 {
    font-size: var(--h3);
    font-family: var(--secondryFontFamilyBold);
}

.craft {
    position: relative;
    min-height: 200vh;
    width: 100%;
    padding: 2rem;
    background-color: var(--primaryColor);
}

.img1 {
    position: absolute;
    top: 10%;
    left: 10%;
    /* transform: translate(50%, -50%); */
}

.img2 {
    position: absolute;
    top: 15%;
    left: 60%;
    /* transform: translate(50%, -50%); */
}

.img3 {
    position: absolute;
    top: 45%;
    left: 60%;
    /* transform: translate(50%, -50%); */
}

.img4 {
    position: absolute;
    top: 55%;
    left: 10%;
    /* transform: translate(50%, -50%); */
}

.img5 {
    position: absolute;
    top: 35%;
    left: 15%;
    /* transform: translate(50%, 0%); */
}

.img6 {
    position: absolute;
    top: 65%;
    left: 60%;
    /* transform: translate(50%, 0%); */
}

.img7 {
    position: absolute;
    top: 75%;
    left: 10%;
    /* transform: translate(50%, 0%); */
}

.img8 {
    position: absolute;
    top: 75%;
    left: 70%;
    /* transform: translate(50%, 0%); */
}

.img9 {
    position: absolute;
    top: 60%;
    left: 40%;
    /* transform: translate(50%, 0%); */
}

.img10 {
    position: absolute;
    top: 70%;
    left: 20%;
    /* transform: translate(50%, 0%); */
}

.img11 {
    position: absolute;
    top: 30%;
    left: 40%;
    /* transform: translate(50%, 0%); */
}

.im {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1).5s;
}

.im:hover {
    border-radius: 30px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)1s;
    cursor: pointer;
    z-index: 999;
}

.craft img {
    width: auto;
    height: 30vh;
    box-shadow: 0 0 .5rem var(--backgroundColor);
    margin-top: 2rem;
}

.gitbtn {
    margin-top: 2rem;
}



#artworksection {
    background-color: var(--secBackgroundColor);
}

.artworks {
    margin: 2rem 0;
}


.artworkdiv h1 {
    font-size: var(--h2);
    font-family: var(--secondryFontFamilyBold);
    margin-block: 2rem;
}

.artworkcontainet {
    position: relative;
    justify-content: space-between;
}

.artworks h2 {
    width: 33%;
    font-size: var(--h3);
    color: var(--primaryColor);
    padding: .5rem 0;
    transition: all ease 1s;
    z-index: 1;
}

.artworkcontainet::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--primaryColor);
    transition: width 0.5s;
}

.artworkcontainet:hover::before {
    width: 100%;
}

.artworkcontainet:hover>h2 {
    color: var(--backgroundColor);
}

.artworks img {
    position: absolute;
    object-fit: contain;
    height: 20vh;
    width: 20vh;
    z-index: 999;
}

#contactUsSection {
    background-color: var(--thirdBackgroundColor);
    min-height: 100%;
}

.contactUs h1 {
    font-size: var(--extraLarge);
    font-family: var(--secondryFontFamilyBold);
}

.contactUs a:hover {
    text-decoration: line-through;
}

.cradit h3 {
    font-size: var(--h3);
    font-family: var(--secondryFontFamilyBold);
}


#cursor {
    position: fixed;
    z-index: 999;
    height: 30vh;
    width: 30vh;
    border: 3px solid white;
    border-radius: 50%;
    top: -15%;
    left: -8%;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1)1s;
    pointer-events: none;
}

#cursor .arrow {
    position: absolute;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    background-color: white;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1)1s;
}

@media screen and (max-width:1024px) {
    .aboutButton a>img {
        width: 250px;
        height: 120px;
    }

    .craft {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    .im {
        position: static;
    }

    .craft img {
        width: 100%;
    }
}


@media screen and (max-width:1200px) {
    :root {
        --extraLarge: 18vw;
        --h1: 10vw;
        --h2: 8vw;
        --h3: 4vw;
        --h4: 3vw;
        --h5: 2vw;
    }

    #cursor {
        display: none;
    }

}

@media screen and (max-width:768px) {

    :root {
        --extraLarge: 18vw;
        --h1: 8vw;
        --h2: 5vw;
        --h3: 3vw;
        --h4: 2vw;
        --h5: 1vw;
    }

    
    /* .herotop{
        top: 0;
    }
    .herobottom{
        bottom: 0;
    } */

    .icone,
    .icone2 {
        flex-wrap: wrap;
    }

    section {
        padding: 1rem;
    }

    .about h1 {
        padding: 0rem;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        z-index: 1;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }
}

@media screen and (max-width:481px) {

    /* .herotop{
        top: 6rem;
    }
    .herobottom{
        bottom: 6rem;
    } */
    .aboutButton a>img {
        width: 125px;
        height: 60px;
    }

    /* 
    .craftdiv img {
        width: 100%;
    } */

    .craftdiv a {
        width: 150px;
    }
}

@media screen and (max-width:320px) {

    .nav {
        padding: .5rem;
    }

    .arrow svg {
        height: 50px;
    }

    .primaryButton {
        font-size: 2.5vw;
    }
}